#main.main-container {
  width: 1160px;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
}

#main.main-container .side-menu {
  position: fixed;
  flex: 2;
}

#main.main-container .main-content {
  margin-left: 232px;
  flex: 8;
}

#main.main-container .main-content .main-header h1 {
  margin-top: 0;
}

#main.main-container .side-menu .logo-img {
  width: 100px;
}