body {
  font-family: 'Cardo', serif;
  margin: 0;
}

#main.main-container {}

#main.main-container .side-menu {
  position: relative;
  background: #177598;
}

#main.main-container .side-menu .side-menu-content {
  padding: 0 1.25rem;
  max-width: 61.25rem;
  margin: auto;
  padding-top: 60px;
  display: flex;
}

#main.main-container .menu-mobile {
  display: none;
}

#main.main-container .side-menu nav {
  text-align: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

#main.main-container .side-menu nav {
  padding: 5px 0;
  text-transform: uppercase;
  text-decoration: none;
}

#main.main-container .side-menu nav a {
  color: #eee;
  padding: 10px;
  text-decoration: none;
}

#main.main-container .side-menu nav a.active {
  font-weight: bold;
}

#main.main-container .side-menu nav a.deactivated {
  font-weight: normal;
}

#main.main-container .main-content {}

#main.main-container .main-content .main-header {
  background: linear-gradient(#177598, #91c6d50d);
}

#main.main-container .main-content .main-header .main-header-content {
  padding: 0 1.25rem;
  max-width: 61.25rem;
  margin: auto;
  padding-top: 60px;
  display: flex;
  flex-flow: column;
  text-align: center;
}

#main.main-container .main-content .main-header .main-header-content .data-local {
  align-self: flex-end;
  text-align: right;
  background: #000;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  color: #fff;
  padding: 10px;
  -webkit-box-shadow: -6px 5px 15px -2px rgba(0, 0, 0, .25);
  box-shadow: -6px 5px 15px -2px rgba(0, 0, 0, .25);
}

#main.main-container .main-content .main-header .main-header-content .data-local p {
  font-size: 1.3em;
  margin: 5px 0;
}

#main.main-container .main-content .main-header h1 {
  margin-top: 0;
}

#main.main-container .main-content .main-header img.banner-cover {
  width: 100%;
}

#main.main-container .main-content .section-content {
  padding: 20px 0 25px;
}

#main.main-container .main-content .section-content .section-wrapper {
  padding: 0 1.25rem;
  max-width: 61.25rem;
  margin: auto;
}

#main.main-container .main-content .section-content p {
  font-size: 1.125rem;
  letter-spacing: -.003em;
  line-height: 1.5;
  text-align: justify;
}

#main.main-container .main-content .section-content h2 {
  font-size: 28px;
  text-transform: uppercase;
}

#main.main-container .side-menu .logo-img {
  width: 100px;
}

#main.main-container .main-content #section-2 {
  background: #91c6d524;
}

#main.main-container .main-content .section-content .palestrantes ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item {
  margin-top: 20px;
  max-width: 320px;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-img {
  margin-bottom: 15px;
  text-align: center;
  position: relative;
  z-index: -1;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-img .square {
  width: 50px;
  height: 50px;
  background: #177698ce;
  position: absolute;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-img .square.square-1 {
  top: -25px;
  left: 25px;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-img .square.square-2 {
  bottom: 0;
  left: 27px;
  background: #1776983d;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-img .square.square-3 {
  bottom: 46%;
  left: 15px;
  background: #17759875;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-img .square.square-4 {
  right: 25px;
  bottom: -10px;
  background: #17769831;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-img .square.square-5 {
  right: 45px;
  top: -5px;
  background: #1776983d;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-img .square.square-6 {
  right: 145px;
  top: -30px;
  z-index: -2;
  background: #17759875;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-img .square-inverse.square-1 {
  right: 25px;
  left: unset;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-img .square-inverse.square-2 {
  right: 27px;
  left: unset;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-img .square-inverse.square-3 {
  right: 15px;
  left: unset;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-img .square-inverse.square-4 {
  left: 25px;
  right: unset;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-img .square-inverse.square-5 {
  left: 45px;
  right: unset;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-img .square-inverse.square-6 {
  left: 145px;
  right: unset;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-img img {
  text-align: center;
  width: 220px;
  height: 220px;
  -webkit-box-shadow: -6px 5px 15px -2px rgba(0, 0, 0, .25);
  box-shadow: -6px 5px 15px -2px rgba(0, 0, 0, .25);
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-bio {
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  padding: 0 10px;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-bio h3 {
  font-size: 25px;
  margin-bottom: 0;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-bio p {
  margin-top: 5px;
}

#main.main-container .main-content .section-content .programacao-dia h3 {
  margin-bottom: 10px;
  margin-bottom: .625rem;
  padding: 13px 0 10px;
  padding: .8125rem 0 .625rem;
  width: 100%;
  background-color: #177598;
  line-height: 120%;
  color: #fff;
  font-weight: 700;
  text-align: center;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
}

#main.main-container .main-content .section-content .programacao-dia {
  margin-bottom: 25px;
}

#main.main-container .main-content .section-content .programacao-dia ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main.main-container .main-content .section-content .programacao-dia ul li {
  border: 1px solid #177598;
  padding: 15px;
  margin-bottom: 15px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
}

#main.main-container .main-content .section-content .programacao-dia ul li .programacao-descricao time {
  font-size: 18px;
}

#main.main-container .main-content .section-content .programacao-dia ul li .programacao-descricao p {
  margin: 5px 0;
}

/* #main.main-container .main-content .section-content .programacao-dia ul li .programacao-descricao .toggle-content {
  max-height: 35px;
  overflow: hidden;
} */

/* #main.main-container .main-content .section-content .programacao-dia ul li .programacao-descricao .toggle-content .arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #000;
  position: absolute;
  right: 40px;
  margin-top: 12px;
}

#main.main-container .main-content .section-content .programacao-dia ul li .programacao-descricao .toggle-content .arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid black;
  position: absolute;
  right: 40px;
  margin-top: 12px;
} */

/* #main.main-container .main-content .section-content .programacao-dia ul li .programacao-descricao .toggle-content.toggle-aberto {
  max-height: 300px;
  -webkit-transition: max-height ease 1s;
  transition: max-height ease 1s;
} */

#main.main-container .main-content .section-content .organizacao .organizacao-wrapper {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

#main.main-container .main-content .section-content .organizacao .organizacao-wrapper p {
  margin: 1px 0;
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  #main.main-container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }
  #main.main-container {
    padding-left: 0;
  }
  #main.main-container .side-menu {
    display: none;
  }
  #main.main-container .menu-mobile {
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
  #main.main-container .menu-mobile img {
    padding: 5px;
    float: left;
    width: 45px;
  }
  #main.main-container .main-content {
    margin: 50px 0;
  }
  #main.main-container .main-content .section-content {
    padding: 60px 0 0;
  }
  #main.main-container .main-content .section-content img {
    width: 100%;
  }
  #main.main-container .main-content .section-content .organizacao .organizacao-wrapper {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}