body {
  font-family: 'Cardo', serif;
}

#main.main-container {
  width: 1160px;
  margin: 40px auto;
  padding-left: 2%;
  display: flex;
  flex-direction: row;
}

#main.main-container .side-menu {
  position: fixed;
  flex: 2;
}

#main.main-container .menu-mobile {
  display: none;
}

#main.main-container .side-menu nav ul {
  list-style: none;
  padding-left: 0;
}

#main.main-container .side-menu nav ul li {
  padding: 5px 0;
  text-transform: uppercase;
  text-decoration: none;
}

#main.main-container .side-menu nav ul li a {
  color: #000;
  text-decoration: none;
}

#main.main-container .side-menu nav ul li a.active {
  font-weight: bold;
}

#main.main-container .side-menu nav ul li a.deactivated {
  font-weight: normal;
}

#main.main-container .main-content {
  width: 80%;
  margin-left: 15%;
  flex: 8;
}

#main.main-container .main-content .main-header h1 {
  margin-top: 0;
}

#main.main-container .main-content .section-content {
  padding: 20px 0 25px;
}

#main.main-container .main-content .section-content p {
  font-size: 21px;
  letter-spacing: -.003em;
  line-height: 1.5;
  text-align: justify;
}

#main.main-container .main-content .section-content h2 {
  font-size: 28px;
  text-transform: uppercase;
}

#main.main-container .side-menu .logo-img {
  width: 100px;
}

#main.main-container .main-content .section-content .palestrantes ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item {
  margin: 20px;
  max-width: 320px;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-img {
  text-align: center;
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-img img {
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #177598;
  -webkit-box-shadow: -6px 5px 15px -2px rgba(0, 0, 0, .25);
  box-shadow: -6px 5px 15px -2px rgba(0, 0, 0, .25);
}

#main.main-container .main-content .section-content .palestrantes ul li.palestrante-item .palestrante-bio h3 {
  font-size: 25px;
}

@media screen and (max-width: 1024px) {
  #main.main-container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }
  #main.main-container {
    padding-left: 0;
  }
  #main.main-container .side-menu {
    display: none;
  }
  #main.main-container .menu-mobile {
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
  #main.main-container .menu-mobile img {
    padding: 5px;
    float: left;
    width: 45px;
  }
  #main.main-container .main-content {
    margin: 50px 2%;
  }
  #main.main-container .main-content .section-content {
    padding: 60px 0 0;
  }
  #main.main-container .main-content .section-content img {
    width: 100%;
  }
}