/* Pure CSS read more toggle by Kasper Mikiewicz*/
/* https://codepen.io/Idered/pen/AeBgF */
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Leia Mais';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'X';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
  position: relative;
  left: 230px;
  bottom: 25px;
}